.tableWrapper {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(107 114 128) transparent;
}

.tableWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
  border: 1px solid transparent;
  background-clip: content-box;
}

.tableWrapper::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1;
}