@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --client-height: calc(100dvh - 64px);
}

html, body {
  overflow: hidden;
}

body {
  height: 100vh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
  opacity: 0;
  font-family: Google Sans Text, Google Sans, Roboto, Arial, sans-serif;
  animation: fadeIn 0.75s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
  transition: background-color 9999s ease-in-out 0s;
  font-family: inherit !important;
}
