@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --client-height: calc(100dvh - 64px);
}

html, body {
  overflow: hidden;
}

body {
  height: 100vh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
  opacity: 0;
  animation: fadeIn 0.75s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}