.transitionWrapper {
  --transition-duration-state: 0.25s;
  --transition-duration-page: 0.1s;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.transition-state-out { animation: fade-out var(--transition-duration-state) ease-in-out forwards; }
.transition-state-in { animation: fade-in var(--transition-duration-state) ease-in-out forwards; }

.transition-page-out { animation: fade-out var(--transition-duration-page) ease-in-out forwards; }
.transition-page-in { animation: fade-in var(--transition-duration-page) ease-in-out forwards; }

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
} 

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
} 

