.overlay {
  position: fixed;
  z-index: 100;
  inset: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}