.overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}